<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div th:replace="~{menubar.html::global-menubar}"></div>

    <h1>게시판</h1>
    <div class="board-box" th:each="image : ${images}">
        <a th:href="@{|/boarddetail/id=${image.board.id}|}">
            <img th:src="${image.getImage_link()}" alt="img" />
            <div>
                <p th:text="${image.getBoard().getTitle()}">제목</p>
                <p th:text="${image.getBoard().getMember().getMember_id()}">작성자</p>
                <!-- <p th:text="${board.getCreatedAt()}">작성일</p> -->
            </div>
        </a>
    </div>
    <button type="button" id="wbtn">작성하기</button>
    
    <div sec:authorize="isAuthenticated()">
        <script>
            (()=>{
                const $wbtn = document.getElementById("wbtn");
                $wbtn.addEventListener('click', ()=>{
                    window.location.href="/boardwrite";
                });
            })();
        </script>
    </div>
    <div sec:authorize="isAnonymous()">
        <script>
            (()=>{
                const $wbtn = document.getElementById("wbtn");
                $wbtn.addEventListener('click', ()=>{
                    const log = confirm("아이디를 로그인해주세요.");
                    if(log) {
                        window.location.href="/sign";
                    }
                    else {
                        window.location.href="/index";
                    }
                });
            })();
        </script>
    </div>
</body>
</html>