<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div th:replace="~{menubar.html::global-menubar}"></div>

    <h1>게시판</h1>
    <div class="board-box" th:each="board : ${boards}">
        <img src="https://placeholder.com/50.jpg" alt="img">
        <div>
            <p th:text="${board.getTitle()}">제목</p>
            <p th:text="${board.getMember().getMember_id()}">작성자</p>
            <!-- <p th:text="${board.get}">작성일</p> -->
        </div>
    </div>
    <a href="/posts/new">새 게시물 작성</a>
    <table>
        <thead>
            
        </thead>
        <tbody>
           
        </tbody>
    </table>
</body>
</html>