<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <!-- 메뉴바 -->
    <div th:replace="~{menubar.html::global-menubar}"></div>

    <h1>게시판</h1>

    <!-- 게시판 불러오기 -->
    <div class="board-box" th:each="image : ${images}">
        <a th:href="@{|/boarddetail/id=${image.board.id}|}">    <!-- 게시판 클릭 시 자세히 보기 -->
            <img th:src="${image.getImage_link()}" alt="img" /> <!-- 게시판 썸네일 이미지 -->
            <div>
                <p th:text="${image.getBoard().getTitle()}">제목</p>    <!-- 게시판 제목 -->
                <p th:text="${image.getBoard().getMember().getMember_id()}">작성자</p>   <!-- 게시판 작성자 -->
                <!-- <p th:text="${board.getCreatedAt()}">작성일</p> -->
            </div>
        </a>
    </div>

    <!-- 글 작성하기 버튼 -->
    <button type="button" id="wbtn">작성하기</button>
    
    <!-- 로그인된 사용자일 경우 작성하기 버튼 클릭 가능 -->
    <div sec:authorize="isAuthenticated()"> 
        <script>
            (()=>{
                const $wbtn = document.getElementById("wbtn");

                $wbtn.addEventListener('click', ()=>{
                    window.location.href="/boardwrite";
                });
            })();
        </script>
    </div>

    <!-- 로그인 되지 않은 사용자이므로 아래와 같은 동작 실행 -->
    <div sec:authorize="isAnonymous()">
        <script>
            (()=>{
                const $wbtn = document.getElementById("wbtn");

                $wbtn.addEventListener('click', ()=>{
                    const log = confirm("아이디를 로그인해주세요.");    // TF 신호를 주는 메시지 박스 사용해서 로그인 요청
                    if(log) {   // 확인을 눌렀으니 로그인 화면으로 이동
                        window.location.href="/sign";
                    }
                    else {      // 취소를 눌렀으니 메인 화면으로 이동
                        window.location.href="/index";
                    }
                });
            })();
        </script>
    </div>
</body>
</html>