<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${board.getTitle()}"> 페이지</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
    <!-- 메뉴바 -->
    <div th:replace="~{menubar.html::global-menubar}"></div>

    <!-- 글을 보여주는 부분 -->
     <div>
        <p th:text="${board.getTitle()}">제목</p>
        <div th:each="image : ${board.getImages()}">
            <img th:src="${image.image_link}" alt="이미지">
        </div>
        <p th:text="${board.getContent_text()}">내용</p>
     </div>

    <!-- 수정과 삭제 버튼 -->
    <div>
        <button id="editbtn" type="button">수정</button>
        <button id="deletebtn" type="button">삭제</button>
    </div>

    <!-- 게시판에 댓글을 작성하는 부분 -->
    <form th:action="@{|/write/content/${board.getId()}|}" method="POST">
        <label for="contents">댓글</label><input type="text" name="contents" id="contents">
        <button type="submit">댓글저장</button>
    </form>

    <!-- 게시판에 작성된 댓글 보여주는 부분 -->
    <div th:each="content : ${contents}">
        <p th:text="${content.getMember().getMember_id()}"></p>
        <p th:text="${content.getComment_content()}"></p>
        <button type="button" id="CDbtn">댓글 삭제</button>
        <button type="button" id="CMbtn">댓글 수정</button>
    </div>

    <!-- 수정과 삭제 버튼에 대한 자바스크립트 -->

    <!-- 로그인된 사용자일 경우 게시글 수정 삭제 버튼 클릭 가능 -->
    <div sec:authorize="isAuthenticated()">
        <script th:inline="javascript">
            /*<![CDATA[*/ 
            const $editbtn = document.getElementById("editbtn");        // 수정 버튼
            const $deletebtn = document.getElementById("deletebtn");    // 삭제 버튼
            
            // 이미지 ID를 가져오는 방법
            const imageId = /*[[${board.getId()}]]*/ ''; // 첫 번째 이미지의 ID를 가져옵니다.
            const username = /*[[${#authentication.principal.username}]]*/ '';    // 현재 로그인한 사용자명
            
            // 수정하는 기능
            $editbtn.addEventListener('click', () => {
                fetch(`/checkuser/board_id=${imageId}`)     // 변경하기 전에 현재 로그인 중인 사용자와 게시판 작성자가 맞는지 확인하기
                    .then((message) => { return message.text(); })
                    .then((message) => {
                        if (message === "NO-WRITTER") { // 게시판 작성자와 현재 로그인 중인 사용자가 같지 않다.
                            alert(`${username}님은 해당 게시글을 작성한 작성자가 아닙니다.`); // 중복일 경우 알림
                        }
                        else {  // 게시판 작성자와 현재 로그인 중인 사용자가 같다.
                            window.location.href=`/edit/board_id=${imageId}`;
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error); // 에러 처리
                    });
            });

            // 삭제하는 기능
            $deletebtn.addEventListener('click', ()=>{
                const del = confirm("정말로 삭제하시겠습니까?");
                if(del) {
                    window.location.href=`/delete/board=${imageId}`;
                }
            });
            /*]]>*/
        </script>

        <!-- 로그인된 사용자일 경우 댓글 수정 삭제 버튼 클릭 가능 -->
        <div sec:authorize="isAuthenticated()">
            <script>
                (()=>{
                    const $CDbtn = document.getElementById("CDbtn");

                    $CDbtn.addEventListener('click', ()=>{
                        
                    });
                })();
            </script>
        </div>

        <!-- 로그인이 안된 사용자가 댓글 수정 삭제 버튼 클릭 기능 -->
        <div sec:authorize="isAnonymous()">
            <script>
                const $CDbtn = document.getElementById("CDbtn");

                $CDbtn.addEventListener('click', ()=>{
                    
                });
            </script>
        </div>

    </div>
</body>
</html>