<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${image[0].getBoard().getTitle()}"> 페이지</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
    <div th:replace="~{menubar.html::global-menubar}"></div>
    <div class="board-detail" th:each="img : ${image}">
        <p th:text="${img.getBoard().getTitle()}">제목</p>
        <img th:src="${img.getImage_link()}" alt="img">
        <p th:text="${img.getBoard().getContent_text()}">내용</p>
    </div>

    <form th:action="@{/write/content}">
        <label for="contents">댓글</label><input type="text" name="contents" id="contents">
        <button type="submit">댓글저장</button>
    </form>
</body>
</html>