<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <!-- 메뉴바 -->
    <div th:replace="~{menubar.html::global-menubar}"></div>

    <!-- 회원가입 form 작성 부분 -->
    <form action="/join_in" method="POST">
        <label for="member_id">아이디</label><input type="text" name="member_id" id="member_id">                                    <!-- 아이디 -->
        <button type="button" id="check_overlap">중복확인</button>                                                                  <!-- 아이디가 중복인지 확인하는 버튼 -->
        <label for="member_password">비밀번호</label><input type="password" name="member_password" id="member_password">            <!-- 비밀번호 -->
        <label for="email">이메일</label><input type="email" name="email" id="email" required placeholder="example@domain.com">     <!-- 이메일 -->
        <label for="phone">전화번호</label><input type="tel" name="phone" id="phone" required placeholder="010-1111-1111">          <!-- 전화번호  -->
        <button type="submit">회원가입</button>                                                                                     <!-- 회원가입 데이터 전송 버튼  -->
    </form>
    
    <script src="join.js"></script>
</body>
</html>