<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화장 미리보기</title>
    <link rel="stylesheet" href="main.css">
    <style>
        #webcam {
            width: 640px;
            height: 480px;
            background-color: black; /* 초기 검정색 배경 */
            display: block; /* 비디오 요소를 항상 표시 */
        }
    </style>
</head>
<body>
    <div th:replace="~{menubar.html::global-menubar}"></div>
    
    <video id="webcam" autoplay></video>
    <button id="startButton">웹캠 연결</button>
    <script src="/webcam.js">
    </script>
</body>
</html>