<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제품 추천하기</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
    <!-- 메뉴바 -->
    <div th:replace="~{menubar.html::global-menubar}"></div>

    <div th:each="product : ${products}">
        <div th:each="image : ${product.images}">
            <img th:src="${image.image_link}" alt="Product Image"/>
        </div>
    </div>
    
    <!-- <div class="container" th:each="">
        <img class="slide" id="img1" th:src="">
        <img class="slide" id="img2" th:src="">
        <img class="slide" id="img3" th:src="">
        <img class="slide" id="img4" th:src="">
        <img class="slide" id="img5" th:src="">
        <img class="slide" id="img6" th:src="">
        <img class="slide" id="img7" th:src="">
    </div> -->

    <div class='buttons'>
        <button class='prev'>뒤로</button>
        <button class='next'>앞으로</button>
    </div>
</body>
</html>